a:link {
  color:#000;
  text-decoration: none;
}
a:visited {
  color:#000;
}
a:hover {
  color:#33F;
}
.interim {
  color: #9A275A;
}

.scrollingDiv{
  position: absolute;
  float: right;
  font-family: Verdana, Arial, sans-serif;
}

#info {
  position: relative;
  font-size: 20px;
  text-align: right;
  color: #9A275A;
  visibility: hidden;
  padding: 20px;
  float: right;
  display: block;
  background-color: #D3C4D1;
  border-radius: 0 0 0 25px;
}
#speech_text_div {
  position: relative;
  font-size: 20px;
  text-align: right;
  color: #9A275A;
  visibility: visible;
  padding: 20px;
  float: right;
  clear: right;
  display: block;
  background-color: #D3C4D1;
  border-radius: 0 0 0 25px;
}

#help {
  font-size: 20px;
  position: relative;
  text-align: right;
  color: #9A275A;
  visibility: visible;
  padding: 20px;
  float: right;
  clear: right;
  display: block;
  background-color: #D3C4D1;
  border-radius: 0 0 0 25px;
}

iframe {
 border: 0;
 height: 100%;
 left: 0;
 overflowY: auto;
 position: absolute;
 top: 0;
 width: 100%;
}

body {
  height: 5000vh;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: auto;
}

#links {
  font-size: 15px;
  position: relative;
  text-align: right;
  color: #9A275A;
  visibility: visible;
  padding: 20px;
  float: right;
  clear: right;
  display: block;
  background-color: #D3C4D1;
  border-radius: 0 0 0 25px;
  margin: 0px;
}

li {
    list-style-type: none;
}