html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(assets/background-tile.svg);
  background-size: 20vw;
  background-color: #5C2751;
  overflow: hidden;
}

canvas {
  display: block;
  position: fixed;
  top: 25vh;
  visibility: hidden;
}

#mute_button {
  bottom: 5vw;
  right: 5vw;
  position: fixed;
  visibility: hidden;
  color: inherit;
  border-radius: 4px;
  text-shadow: 0.2rem 0.8rem 1.6rem #5e35b1;
  background: #C8B8DB;
  font-size: 2rem;
}

#respawn_button {
  bottom: 5vw;
  left: 5vw;
  position: fixed;
  visibility: hidden;
  color: inherit;
  border-radius: 4px;
  text-shadow: 0.2rem 0.8rem 1.6rem #5e35b1;
  background: #C8B8DB;
  font-size: 2rem;
  transition: 0.33s;
  /*animation: respawn 5s ease-in-out 0s 1;*/
}

@keyframes respawn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

#info {
  display: grid;
  font-family: verdana;
  background-color: #6B5CA5;
  color: rgb(92, 10, 20);
  margin: 50px;
  padding: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5vw;
  grid-template-areas:
  "text ."
  "form instruction";
  border-radius: 5px;
}

#form {
  grid-area: form;
  margin-bottom: auto;
  display: grid;
  align-items: top;
}

#text {
  grid-area: text;
  text-align: left;
  margin-top: auto;
}

.input-text {
  display: block;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: 2.1rem;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.8rem 1.6rem #5e35b1;
}

.input-text::placeholder {
  color: #B0BEC5;
}

#play_button {
  color: inherit;
  border-radius: 4px;
  text-shadow: 0.2rem 0.8rem 1.6rem #5e35b1;
  background: #C8B8DB;
  font-size: 2rem;
  width: min-content;
  float: left;
}

#play_button:hover {
  background-color: #4095c6;
}

#instructions {
  font-family: verdana;
  top: 0px;
  grid-area: instruction;
  text-align: right;
}

#instructions h4:first-child {
  margin-top: 0px;
}

#kill_feed {
  position: fixed;
  font-family: verdana;
  z-index: 15;
  font-size: 3vw;
  font-weight: 800;
  top: 25vh;
  visibility: hidden;
  left: 50%;
  width: min-content;
  transform: translateX(-50%);
  color: rgb(75, 192, 217);
  text-align: center;
  text-shadow:
  -1px -1px 0 #5C2751,  
  1px -1px 0 #5C2751,
  -1px 1px 0 #5C2751,
  1px 1px 0 #5C2751;
}